body{
    background-color: black;
    margin: 2%;
    background-image: url('images/Background\ image.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top:2%
}
#half{
    width: 70%;
}
.arrow {
    display: block;
    text-align: center;
    stroke:white;
    padding-bottom:30px ;
    width:3%;
    margin-left:auto;
    margin-right:auto;
    fill: #ed6866;
}
#center{
    align-self: center;
    width:40%;
    padding:30px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
/* button styled from w3schools(https://www.w3schools.com/css/css3_buttons.asp) */
.button {
    background-color:#4EA0CC; 
    border: none;
    /* letter-spacing: .5px; */
    color: white;
    padding: 15px 32px;
    margin-top:15px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
#logo{
    width:100%;
}
.content{
    margin-top:2%;
}
h{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:white;
    font-size: 45px;
    text-transform: capitalize;


}
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(164, 164, 164);
    font-size: 16px;
    text-transform: capitalize;


}

p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 17px;
}
.big-container{
    margin-left:10%;
    margin-right:10%;
}
.invisable{
    display: flex;
    padding:6%;
    background-color: #121212;
}


.container1 {
    padding:6%;
    background-color: white;
}
.container2 {
    padding:6%;
    background-color: rgb(248, 249, 250);
}
.container3{
    padding:3px;
    display: flex;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #121212;
    font-size: 50px;
    text-transform: capitalize;


}
.h1-1{
    text-decoration: underline; 
    text-decoration-color:rgba(193, 18, 30, 0.357);
    text-decoration-thickness: 20%;   
    color:#21211F;
}
.h1-2{
    text-decoration: underline; 
    text-decoration-color:rgba(7, 146, 7, 0.357);
    text-decoration-thickness: 20%;   
    color:#21211F;
}
/* .tableauPlaceholder{

    background-color: white;
    padding:5px;
} */
.p1{
    display: flex;
}
.headline{
    display: flex;
    justify-content: left;
}
/* from w3schools(https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_three_columns) */
* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 31.4%;
    border-radius: 5px;
    height: 570px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 img{
    padding:none;
 }
  h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:black;
    font-size: 45px;
  }
  h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:black;
    font-size: 25px;
  }
  .supportp{
    padding-left: 20px; 
    padding-right: 20px;
  }